*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/backgroundadd.png);
}
.addplace{
    width: 600px;
    margin: 100px auto;
}
h1{
    text-align: center;
    background-image: linear-gradient(70deg,rgb(63, 208, 212), rgb(247, 47, 170));
    padding: 20px 0;
    color: aliceblue;
}
div{
    display:flex;
    margin-bottom:20px;
}
label{
    width: 100px;
    color: aqua;
}
.title-add1{
    color: aqua;
}
.title-add input{
    height: 30px;
}
.title-add input,.title-add textarea{
    flex:1;
    border: 1px solid aqua ;
}

.addplace button,.addplace a{
    text-decoration: none;
    margin: 10px 50px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: 1.2s;
    background-image: linear-gradient(70deg,rgb(63, 208, 212), rgb(247, 47, 170));
}
.addplace button:hover,.addplace a:hover{
    transform: scale(1.1);

}